<style>
  .custom-card-container {
    display: inline-block;
    background-color: #fce4ec;
    border: 2px solid #ff4081;
    border-radius: 20px;
    padding: 20px;
    margin: 15px;
  }

  .custom-card-title {
    color: #880e4f;
    font-size: 24px;
    font-weight: bold;
  }

  .custom-card-content {
    color: #880e4f;
    font-size: 18px;
  }

  .custom-card-buttons {
    margin-top: 15px;
  }
</style>

<h1 class="mb-4">Tribes</h1>

<% @tribes.each do |tribe| %> 
  <% if tribe.user == current_user %> 
    <div class="custom-card-container">
      <div class="custom-card-title"><%= link_to tribe.tribe, tribe %></div>
      <div class="custom-card-content">
        Tribesmen: <%= tribe.tribesmen %><br>
        Chief: <%= tribe.chief %>
      </div>
      <div class="custom-card-buttons">
        <%= link_to "Edit", edit_tribe_path(tribe), class: "btn btn-info btn-sm" %>
        <%= button_to 'Delete', tribe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
      </div>
    </div>
  <% end %>
<% end %>
<%= link_to "New Tribe", new_tribe_path, class: "btn btn-primary" %>