<%= form_with(model: talk) do |form| %>
  <% if talk.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(talk.errors.count, "error") %> prohibited this talk from being saved:</h2>

      <ul>
        <% talk.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :topic, style: "display: block" %>
    <%= form.text_field :topic %>
  </div>

  <div>
    <%= form.label :tribe, style: "display: block" %>
    <%= form.text_field :tribe %>
  </div>

  <div>
    <%= form.label :importance, style: "display: block" %>
    <%= form.text_field :importance %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_field :content %>
  </div>

  </br>
  <div>
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>